# Build artifacts
*.dll
*.exe
*.pdb
*.cache
*.BuildWithSkipAnalyzers

# VS files
.vs/

# Debug folders
bin/
obj/

# Others
*.vsidx
*.v2
*.suo

# Optional: comment out if needed
# *.txt
# *.json


*.bin
.vs/ProjectEvaluation/sparta-rpg2-.projects.v9.bin
*.vsidx
*.v2
.vs/Sparta-RPG2-/v17/.suo
*.json
*.dll
*.cache
*.pdb
*.txt
*.BuildWithSkipAnalyzers
*.exe
